/* Write your CSS here */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
img {
  width: 250px;
}
.counter-container {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
  margin: 20px;
}
